
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.main-box{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: #ed1e79 solid;
    position: relative;
    left: 50px;
    top: 30px;

}
.box1{
    height: 30px;
    width: 190px;
    position: relative;
    top: 20px;
    left: 15px;
  
}

.box2{
    height: 100px;
    width: 150px;
    position: relative;
    top: 20px;
    left: 15px;
}

.p-box1{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.p-box2{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    text-align: left;
}

.cage{
    background-color: #ed1e79;
    height: 25px;
    width: 25px;
    border: #ed1e79 solid;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 20px;
}

.fas{
    color: white;
    position: relative;
    top: 3px;
    left: 3px;
}